.homeMain > div {
    height: 100vh !important;
    background-image: url('../../../img/home.jpg');
    background-size: cover;
    background-position: bottom;
}

@media screen and (max-width: 30em) {
    .homeMain {
        overflow-x: hidden;
    }
}