.about {
  padding: 6rem 7rem 6rem 10rem;
  color: rgb(221, 221, 221);
  background-color: #020001;
  min-height: 105vh;
  overflow-x: hidden;
}
.primary {
  display: grid;
  grid-template-columns: 1fr max-content;
}

.color {
  color: #fff;
  letter-spacing: 0.15rem;
}
.aboutDiv {
  margin-top: 3rem;
  font-size: 1.4rem;
  padding-right: 9rem;
}

.aboutDiv > p {
  margin-bottom: 3rem;
}

.data {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 8rem;
  width: 160%;
  grid-column-gap: 2rem;
  margin-left: 3rem;
  animation: regular 1s ease-in-out;
}
.description {
  font-size: 1.3rem;
  margin-top: 2rem;
}

.dataitem {
  color: #020001;
  padding: 3rem 4rem;
  border-radius: 0.4rem;
  box-shadow: 0 4rem 6rem #ffffff3a;
  /* background-color: rgba(255, 255, 255, 0.85); */
  background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.85),
      rgba(255, 255, 255, 0.75)
    ),
    url("./d.jpg");
  background-size: cover;
  backdrop-filter: blur(5px);
}

@keyframes regular {
  from {
    transform: translateX(-8rem);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@media screen and (max-width: 30em) {
  .primary {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: max-content max-content;
  }
  .about {
    padding: 4rem 3rem;
  }
  .secondary {
    grid-row: 2 / -1;
    margin-top: 0rem;
  }
  .data {
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, max-content);
    margin-top: 4rem;
    width: 100%;
    grid-column-gap: 0rem;
    margin-left: 0rem;
  }
  .aboutDiv {
    margin-top: 3rem;
    font-size: 1.4rem;
    padding-right: 0;
  }
  .dataitem {
    box-shadow: 0 6rem 20rem #ffffff3a;
    margin-bottom: 2rem;
  }
}
